/*------General------ */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
html,body{
    padding-bottom: 9vh;
    margin: 0;
    background-color: #E8E8E8;
    /* width: 100%; */
    /* height: 100%; */
    
}
main, #presentacion{
    padding-top: 17vh;
}
.main-welcome{
margin: 0 auto;
}
/* Font */
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 8vh;
    text-align: center;
    padding-top: 5vh;
}
h2{
  font-family: 'Bebas Neue', cursive;
  font-size: 5vh;
  text-align: left;
  padding-top: 5vh;
}
.img-cv{

  width: 80%;
 
}
.nosotras{
  font-family: 'Bebas Neue', cursive;
}
.txtcenter,td,th,.defin{
    text-align: center;
}
.p-card{
  margin: 0 0 5em 0;
}
th,td,.copete,.copete-p,p,ul, ol{
  font-family: 'Baloo Tammudu 2', cursive;
}
.copete{
  font-size: 3vh;
}
.copete-p{
  font-size: 1.5em;
  padding: 20px;
}
p{
    text-align: justify;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.title{
  font-family: 'Staatliches', cursive;
    font-size: 20vh;
    text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd;
    color: #13274e;
    padding: 10vh 10vh 0vh 10vh;
}
main>.row{
    padding:20px 0px;
}

.navbar{
  z-index: 100;
    position: fixed;
    background: #013374; 
	box-shadow: 0 1px 50px rgba(29, 31, 33, 0.6) inset; 
	-webkit-box-shadow: 0 1px 50px rgba(29, 31, 33, 0.6) inset; 
	-moz-box-shadow: 0 1px 50px rgba(29, 31, 33, 0.6) inset; 
}
.navbar-dark .navbar-nav .nav-link {
   color: #34BEBD;
   
}
span{
  padding: 0px 10px 0px 24px;
}
.btn-primary {
    color: #fff;
    background-color: #34BEBD;
    border-color:#34BEBD;
}
.animation .btn-primary{
  background: #19A087; 
}
.btn-link{
    text-decoration: none;
    color: #13274E;
    font-weight: bold !important;
    text-align: center !important;
}
/* TIpos de contratos */
.cardTC{
    background-color: #40ba82;
    color: rgba(19, 19, 19, 0.959);
    text-align: center;
}
.cardTC p{
  padding: 10px;
}
.cardTC button{
  color: ghostwhite;
  font-size: 3vh;
}
.card{
  text-align: center;
    margin: 20px 0px 20px 20px;
    position: inherit;
}
.card-text, .modal-body>p{
  padding: 5% ;
}

.cards .row{
    margin: 0 10%  0% 10%;
}
.cards .card-body{
    padding:  0 !important;
    
}
.cards .card{
    margin: 3% 0% 4% 5%;
  max-width: 39% !important;
  max-height: 25rem !important;
}
.card-n {
  margin: 10px;
  position: inherit;
}
.card-text1{
  font-size: 2.5vh;
}
/*------Imagenes------ */
.portada{
    width: 80%!important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
    /* ------- */
    .imagen {      
      margin-top: 7vh;
      overflow: hidden;  
      border: 5px solid #204692cc;
      border-radius: 20px;
    }
    .img-l {       
      border: 2px solid black;
      border-radius: 20px;
      padding: 0;
      margin: 5px 0 6vh 0;
    }
 
.img-welcome{
  padding: 0;
  margin: 0;
}

.imagen>img{
    display: block;
    background-color: blue;
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 2;
}
.imagen:hover{
  border: 5px solid #34bebecb;
}
.imagen:hover img{
  transform: scale(1.2, 1.2);
  z-index: 9;
}
#logo{
    width: 10vh  !important;
}

/*------------ */
footer{
    position: absolute;
    top: 90%;

    background-color: aqua;
}
#txtinput{
    margin-left:40px ;
}
.busqueda{
    width: 60vw;
    margin-left: 30% 0%;
}
.container-sm{
    max-width: 80%;
    margin: 0% 10%;
}
.imgcar{
    max-width: 50%;
    margin: 0 24% 0 24%;
}
.carousel-inner{
    text-align: center;
}
.sr-only{
    color: #13274E
}
.card-fondo{
    background-repeat: no-repeat;
    padding: 10%;
    
}

/* WELCOME */
.texto{
  margin: 3em 0 0 15%;
}
.css-typing p {
  /* background-color: #13274E; */
    border-right: .15em solid orange;
    /* text-align: center; */
    font-family: "Courier";
    font-size: 22px;

    white-space: nowrap;
    overflow: hidden;
  }
  .css-typing p:nth-child(1) {
    width: 32em;
    -webkit-animation: type 3s steps(40, end);
    animation: type 3s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    margin-left: -15%;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 24em;
    opacity: 0;
    -webkit-animation: type2 3s steps(40, end);
    animation: type2 3s steps(40, end);
    -webkit-animation-delay: 4s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin-left: 0%;
  }
  
  .css-typing p:nth-child(3) {
    width: 25em;
    opacity: 0;
    -webkit-animation: type2 3s steps(40, end);
    animation: type2 3s steps(40, end);
    -webkit-animation-delay: 4s;
    animation-delay: 6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin-left: -2%;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  


  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  /* BOTON */
  .wrapper {
    height: 100%;
    margin: 0 ;
  }
  
  .hide {
    visibility: hidden;
  }
  
  .button-p {
    color:white;
    width: 9.45em;
    height: 3.15em;
    background: #19A087;  
    border-radius: 0.189em;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    margin: 30px auto 0 auto;
    position: relative;
    left: 0;
    right: 0;
  }
  .button-p a{
    color: #E8E8E8;
    font-size: 3vh;
    padding: auto 0;
  }
  
  .button:hover {
    background: #88ecd7;
  }



  .text-present{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-gap: 20px;
  }
  .card-p .row{
    margin: 0 ;
    padding: 0;
  }
  .card-p .box{
    max-width: 600px;
    padding: 0 auto;
    margin: 6px;
  }
  .table{
    border-color: rgba(0, 0, 0, 0.76);
  }
   
  .tips{
    
padding: 0 6% 0 6% ;
  }
  .carousel-indicators{
    position: relative;
  }
  .carousel-indicators i{
    /* margin-top: 20px; */
    padding: 40px 50px 0px 25px; 
    width: 30px;
    font-size: 4vh;
  }
  
  #carouselExampleIndicators{
    margin: 5%;
    /* color: teal;sz */
  }
      
  
/*------Ajustando contenidos------ */
@media (orientation: portrait) {
    .none,.cards,.tableweb,span,.box-welcomepc,.none-l{
        display: none;
    }
    .abc,.botones,.tablephone, .box-welcome{
        display: block !important;
    }

    main{
        padding-top: 10vh !important;
    }
    main>.row{
      padding:10px 0px 0px 0px;
  }
    .navbar-nav .nav-link {
      z-index: 1000;
      text-align: center;
  }
  .copete-p{
    font-size: 1em;
    padding: 3px;
  }
  .carousel-indicators i{
    padding: 0;
  margin: 0 10px 0 10px;
  font-size: 5vh;
}
.carousel-inner{
  margin-bottom: 10%;
}
#carouselExampleIndicators{
  margin: 0%;
  /* color: teal;sz */
}
    .boton{
        width: 80%;
        margin: 10px 10px 10px 35px;
        padding: 10px;

    }
    .busqueda{
        width: 90%;
        margin-left: 00vw;
    }
    th,td{

        width: 50%;
    }
    .card{
      
        margin:5% 0%;
        
    }
    #accordion{
        width: 100% !important;
        margin: 0% !important;
    }
    .line-1,.line-2,.line-3,.line-4{
        font-size: 110%;
    }
    /* text-welcome */
    #box-welcome{
      /* background-color: #be3480; */
      margin: 0 auto;
    }
    .texto{
      margin: 5vh 0 0 0;
    }
    .css-typing p {
      /* background-color: #13274E; */
        border-right: .15em solid orange;
        /* text-align: center; */
        font-family: "Courier";
        font-size: 14px;
     
      }
      .css-typing p:nth-child(1) {
        width: 18em;
        margin-left: 10%;
        -webkit-animation: type 3s steps(40, end);
        animation: type 3s steps(40, end);
        -webkit-animation-fill-mode: forwards;    
        animation-fill-mode: forwards;
      }
      
      .css-typing p:nth-child(2) {
        width: 17.5em;
        opacity: 0;
        margin-left: 9%;
        -webkit-animation: type2 3s steps(40, end);
        animation: type2 3s steps(40, end);
        -webkit-animation-delay: 4s;
        animation-delay: 3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        
      }
      
      .css-typing p:nth-child(3) {
        width: 18em;
        opacity: 0;
        -webkit-animation: type2 3s steps(40, end);
        animation: type2 3s steps(40, end);
        -webkit-animation-delay: 4s;
        animation-delay: 6s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        margin-left: 8%;
      }
      .css-typing p:nth-child(4) {
        width:23em;
        opacity: 0;
        margin-left: 0%;
        -webkit-animation: type2 3s steps(40, end);
        animation: type2 3s steps(40, end);
        animation-delay: 9s;
        -webkit-animation-fill-mode: forwards;    
        animation-fill-mode: forwards;
      }
    

      .nosotras{
        font-size: 5vh !important;
      }

  }

  .card-style{
    background: rgb(154,222,222);
  background: linear-gradient(0deg, rgba(154,222,222,1) 23%, rgba(52,190,189,1) 100%);
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 13px 13px 22px -15px #000000; 
    box-shadow: 13px 13px 22px -15px #000000; 
    height: 95%;
    
    
}
.img-card{
    position: absolute;
}

  @media   (orientation: landscape) and  (max-width: 760px){
    span,.box-welcomepc{
      display: none;
  }
  .none-l{
    display: none;
  }
  .box-welcome{
    display: block !important;
  }
      #accordion{
        width: 100% !important;
        margin: 0% !important;
    }
    .card{
        text-align: center;
        width: 15.5rem !important;
        height: 31.5rem !important;
        margin: 10px 0px 0px 10px;
        
    }

    /* .card{
      text-align: center;
        margin: 20px 0px 20px 20px;
        position: inherit;
    } */
    /* .card-n { */
      /* text-align: center; */
      /* width: 15.5rem !important; */
      /* height: 29rem !important; */
  /* } */

    .copete-p{
      font-size: 1em;
      padding: 0;
    }
    .cards .row{
        margin: 10% 0%;
    }
    .cards .card-body{
        padding:  0 !important;
       
    }
    .cards .card{
        margin: 0% 0% 0% 15px;
      max-width: 15rem !important;
      max-height: 35rem !important;
    }
    
    .card-style .card-text1{
      font-size: 5vh;
    }
    .cardhab{
        /* background-color: #34BEBD; */
      width: 16rem !important;
      height: 18.5rem !important;
      margin: 20px !important;
    }


    .line-1,.line-2,.line-3,.line-4{
        font-size: 110%;
    }
    .box-welcomepc{
      margin: 0;
    }
    .texto{
      margin: 3em 0 0 0%;
    }
    .carousel-indicators i{
      padding: 0;
    margin: 25% 10px 0 10px;
    font-size: 8vh;
  }
    .css-typing p {
      /* background-color: #13274E; */
        border-right: .15em solid orange;
        /* text-align: center; */
        font-family: "Courier";
        font-size: 14px;
     
      }
      .css-typing p:nth-child(1) {
        width: 18em;
        margin-left: 10%;
        -webkit-animation: type 3s steps(40, end);
        animation: type 3s steps(40, end);
        -webkit-animation-fill-mode: forwards;    
        animation-fill-mode: forwards;
      }
      
      .css-typing p:nth-child(2) {
        width: 17.5em;
        opacity: 0;
        margin-left: 9%;
        -webkit-animation: type2 3s steps(40, end);
        animation: type2 3s steps(40, end);
        -webkit-animation-delay: 4s;
        animation-delay: 3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        
      }
      
      .css-typing p:nth-child(3) {
        width: 18em;
        opacity: 0;
        -webkit-animation: type2 3s steps(40, end);
        animation: type2 3s steps(40, end);
        -webkit-animation-delay: 4s;
        animation-delay: 6s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        margin-left: 8%;
      }
      .css-typing p:nth-child(4) {
        width:23.5em;
        opacity: 0;
        margin-left: 0%;
        -webkit-animation: type2 3s steps(40, end);
        animation: type2 3s steps(40, end);
        animation-delay: 9s;
        -webkit-animation-fill-mode: forwards;    
        animation-fill-mode: forwards;
      }
      .title{

          font-size: 12vh !important;
          padding: 10vh 30vh 0vh 30vh !important;
      }

  }



/* PRESENTACION 2 */

.cont-center{
    background-color: blue;
    width: 45vw;
    height: 84vh ;
    margin: 0;
    margin: 8vh 27vw 8vh 27vw;
}
.present{
    width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-8"] {
    width: 90%;
  }
  .title{
   font-size: 7vh;
  }
  

}
