/*------General------ */
html,body{
    margin: 0;
    background-color:rgba(211, 204, 204, 0.849);
    /* width: 100%; */
    /* height: 100%; */
    
}
main{
    padding-top: 14vh;
}

h1{
    text-align: center;
    padding-top: 10px;
}
.txtcenter{
    text-align: center;
}
p{
    text-align: justify;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
main>.row{
    padding:50px 0px;
}

.navbar{
    position: fixed;

}
.navbar-dark .navbar-nav .nav-link {
   color: #34BEBD;
   
}

.btn-primary {
    color: #fff;
    background-color: #34BEBD;
    border-color:#34BEBD;
}
.btn-link{
    text-decoration: none;
}
/* TIpos de contratos */
.cardTC{
    background-color: #13274E;
    color: #fff;
}
.card{
    margin: 10px;
}
/*------Imagenes------ */
.portada{
    width: 80%!important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.imagen>img{
    display: block;
    width: 100%;
    height: 130%  !important;
    background-color: blue;
}

#logo{
    width: 160px  !important;
}

.card{
    position: inherit;
}
/*------------ */
footer{
    position: absolute;
    top: 90%;

    background-color: aqua;
}

/*------Ajustando contenidos------ */
@media (orientation: portrait) {
    .none,.cards{
        display: none;
    }
    .abc,.botones{
        display: block !important;
    }
    main{
        padding-top: 10vh !important;
    }
    .boton{
        width: 80%;
        margin: 10px 10px 10px 35px;
        padding: 10px;

    }
  }
